body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

html, body {
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

header {
    background-color: #8DBA94;
    padding: 10px 0;
}

h1 {
    text-align: left;
    color: #224F34;
    margin-bottom: 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

nav .left {
    flex: 1;
}

nav .center {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav .center ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav .center ul li {
    margin: 0 15px;
}

nav .center ul li a {
    text-decoration: none;
    color: #224F34;
    font-weight: bold;
    font-size: 18px;
}

nav .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

nav .right a {
    text-decoration: none;
    color: #224F34;
    font-weight: bold;
    font-size: 18px;
}

.cart-container {
    padding: 20px;
    text-align: center;
    background-color: #DDDAA2;
}

.cart-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.cart-table th {
    background-color: #8DBA94;
    color: white;
}

.cart-table td {
    background-color: #f2f2f2;
}

.cart-total {
    margin-top: 20px;
    font-size: 1.2em;
}

.btn-container {
    margin-top: 20px;
}

.btn-container button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}


.btn-pay {
    background-color: #224F34;
    color: white;
}

.payment-method {
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #2C513B;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    bottom: 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-content p {
    margin: 5px 10px;
}
